/* Place CSS styles here */
.main-resume h1{
    color: #461d7c
}
.main-resume h2{
    color: #19258A
}
.main-resume h3{
    color:#87198A
}
.main-resume ul{
    color:#2E1B94
}
.main-resume p{
    color:#2E1B94
}